<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>582271404230-gkreh17e6rshmveml70q57b89694409h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.582271404230-gkreh17e6rshmveml70q57b89694409h</string>
	<key>API_KEY</key>
	<string>AIzaSyAPAZwuZOucRlMMe7c_4E8WPkdSP9w_mNY</string>
	<key>GCM_SENDER_ID</key>
	<string>582271404230</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authFirestore</string>
	<key>PROJECT_ID</key>
	<string>a1-project-d8576</string>
	<key>STORAGE_BUCKET</key>
	<string>a1-project-d8576.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:582271404230:ios:c8dbaa577c9603c12eefc7</string>
</dict>
</plist>